# Ignore all files inside these folders
input/*
efzFile/*
output/*

# But keep the folders themselves
!input/.gitkeep
!efzFile/.gitkeep
!output/.gitkeep


# Python cache / artifacts
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db